/* Testing of this website has been done with Firefox. Funcionability on other browsers has not been checked. */
:root {
  --clr-primary: #FFD500;
  --clr-bg-primary: #005BBB;
  --clr-onfocus: #fff;
  --clr-bg: #141414;
  --clr-gradient-1: #AC3F19;
  --clr-gradient-2: #D8BF17;
  --clr-text-kharkiv: #EE9090;
  --clr-text-odesa: #AACA95;
  --clr-text-dnipro: #3C77D7;
  scrollbar-width: none;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  transition: 300ms ease;
  outline: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  color: var(--clr-primary);
  background-color: var(--clr-bg);
  /*overflow-y: hidden;*/
}

table {
  border-collapse: collapse; /*needed to remove table borders*/
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--clr-onfocus);
}
a:focus {
  color: var(--clr-onfocus);
}

.table {
  width: 100%;
  height: 100%;
}
.table th {
  width: 50vw;
  font-size: 3vw;
}
.table th div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 102%;
  height: 50vh;
}
.table th .link > a {
  background: var(--clr-bg);
}
.table th .link:hover {
  background-size: 120%;
}
.table th .link:hover > a {
  background: var(--clr-bg-primary);
}

.info {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info h1 {
  text-align: center;
  font-size: 3em;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.info p, .info a {
  margin: 1.5em;
}
.info .wrapper {
  height: 80%;
  width: 70%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.info .wrapper a {
  font-weight: bold;
}
.info .wrapper a:hover {
  background-color: var(--clr-bg-primary);
}
.info .wrapper .descriptor {
  margin: 2rem;
}
.info .wrapper .image {
  border-radius: 1.5rem;
  background-size: cover;
}
.info .center {
  grid-template-columns: 3fr 2fr;
}
.info .history {
  grid-template-columns: 2fr 3fr;
}
.info .culture {
  grid-template-columns: 3fr 2fr;
}

#index .kyiv {
  background-image: url("../images/kiev.jpg");
}
#index .kharkiv {
  background-image: url("../images/kharkiv.jpg");
}
#index .odesa {
  background-image: url("../images/odesa.jpg");
}
#index .dnipro {
  background-image: url("../images/dnipro.jpg");
}

#kyiv {
  /* background images for the table */
  /*background images for the various info divs*/
}
#kyiv .info h1 {
  background-image: linear-gradient(to right, var(--clr-gradient-1), var(--clr-gradient-2));
}
#kyiv .table-center {
  background-image: url("../images/kyiv/kyiv_center.jpg");
}
#kyiv .table-history {
  background-image: url("../images/kyiv/kyiv_history.jpg");
}
#kyiv .table-culture {
  background-image: url("../images/kyiv/kyiv_culture.jpg");
}
#kyiv .table-return {
  background-image: url("../images/kyiv/kyiv_geography.jpg");
}
#kyiv .center-image {
  background-image: url("../images/kyiv/kyiv_geography.jpg");
}
#kyiv .history-image {
  background-image: url("../images/kyiv/kyiv_history.jpg");
}
#kyiv .culture-image {
  background-image: url("../images/kyiv/kyiv_culture.jpg");
}

#kharkiv {
  font-family: "Times New Roman", Times, serif;
  color: var(--clr-text-kharkiv);
  /* background images for the table */
  /*background images for the various info divs*/
}
#kharkiv .info h1 {
  background-image: linear-gradient(to right, var(--clr-gradient-1), var(--clr-text-kharkiv));
}
#kharkiv .table-center {
  background-image: url("../images/kharkiv/kharkiv_center.jpg");
}
#kharkiv .table-history {
  background-image: url("../images/kharkiv/kharkiv_history.jpg");
}
#kharkiv .table-culture {
  background-image: url("../images/kharkiv/kharkiv_culture.jpg");
}
#kharkiv .table-return {
  background-image: url("../images/kharkiv/kharkiv_geography.jpg");
}
#kharkiv .center-image {
  background-image: url("../images/kharkiv/kharkiv_geography.jpg");
}
#kharkiv .history-image {
  background-image: url("../images/kharkiv/kharkiv_history.jpg");
}
#kharkiv .culture-image {
  background-image: url("../images/kharkiv/kharkiv_culture.jpg");
}

#odesa {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--clr-text-odesa);
  /* background images for the table */
  /*background images for the various info divs*/
}
#odesa .info h1 {
  background-image: linear-gradient(to right, var(--clr-gradient-1), var(--clr-text-odesa));
}
#odesa .table-center {
  background-image: url("../images/odesa/odesa_center.jpg");
}
#odesa .table-history {
  background-image: url("../images/odesa/odesa_history.jpg");
}
#odesa .table-culture {
  background-image: url("../images/odesa/odesa_culture.jpg");
}
#odesa .table-return {
  background-image: url("../images/odesa/odesa_geography.jpg");
}
#odesa .center-image {
  background-image: url("../images/odesa/odesa_geography.jpg");
}
#odesa .history-image {
  background-image: url("../images/odesa/odesa_history.jpg");
}
#odesa .culture-image {
  background-image: url("../images/odesa/odesa_culture.jpg");
}

#dnipro {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--clr-text-dnipro);
  /* background images for the table */
  /*background images for the various info divs*/
}
#dnipro .info h1 {
  background-image: linear-gradient(to right, var(--clr-gradient-1), var(--clr-text-dnipro));
}
#dnipro .table-center {
  background-image: url("../images/dnipro/dnipro_center.jpg");
}
#dnipro .table-history {
  background-image: url("../images/dnipro/dnipro_history.jpg");
}
#dnipro .table-culture {
  background-image: url("../images/dnipro/dnipro_culture.jpg");
}
#dnipro .table-return {
  background-image: url("../images/dnipro/dnipro_geography.jpg");
}
#dnipro .center-image {
  background-image: url("../images/dnipro/dnipro_geography.jpg");
}
#dnipro .history-image {
  background-image: url("../images/dnipro/dnipro_history.jpg");
}
#dnipro .culture-image {
  background-image: url("../images/dnipro/dnipro_culture.jpg");
}/*# sourceMappingURL=style.css.map */